<!-- ここ -->
<!-- email: $socpe.emailの値 -->
<!-- name: directiveに渡す文字列 -->
<!-- alert: ボタンを押した時に実行する関数 -->
<!-- タグ内 transcludeで挿入される値 -->
<profile-with-gravatar email="email" name="渕脇 大輔" alert="test()">( ´ー｀)y-~~ えびせん大好き</profile-with-gravatar>

<div class="row">
  <div class="col-md-6">
    <h2 class="active"><span class="glyphicon glyphicon-pencil"></span>インプット</h2>
    <textarea class="form-control" cols="100" rows="20" ng-model="markdown">
    </textarea>
  </div>
  <div class="col-md-6">
    <h2 class="active"><span class="glyphicon glyphicon-eye-open"></span>プレビュー</h2>
    <p class="lead" ng-bind-html="preview"></p>
  </div>
</div>
